/export/.build
/export/flash/bin/FlxProject.swf
/export/flash/haxe/ApplicationMain.hx
/export/flash/haxe/DefaultAssetLibrary.hx
/export/flash/haxe/NMEPreloader.hx
/export/flash/haxe/debug.hxml
/export/flash/haxe/final.hxml
/export/flash/haxe/release.hxml
/export/flash/obj/assets.swf
/export/html5/bin/FlxProject.js
/export/html5/bin/FlxProject.js.map
/export/html5/bin/assets/data/data-goes-here.txt
/export/html5/bin/assets/fonts/arial.ttf
/export/html5/bin/assets/fonts/nokiafc22.ttf
/export/html5/bin/assets/images/images-go-here.txt
/export/html5/bin/assets/images/sprites_p.png
/export/html5/bin/assets/music/music-goes-here.txt
/export/html5/bin/assets/sounds/beep.mp3
/export/html5/bin/assets/sounds/beep.ogg
/export/html5/bin/assets/sounds/flixel.mp3
/export/html5/bin/assets/sounds/flixel.ogg
/export/html5/bin/assets/sounds/sounds-go-here.txt
/export/html5/bin/index.html
/export/html5/bin/lib/soundjs.min.js
/export/html5/bin/lib/webgl-debug.js
/export/html5/bin/manifest
/export/html5/haxe/ApplicationMain.hx
/export/html5/haxe/DefaultAssetLibrary.hx
/export/html5/haxe/NMEPreloader.hx
/export/html5/haxe/debug.hxml
/export/html5/haxe/final.hxml
/export/html5/haxe/release.hxml
